<h1 class="center">Документация</h1>
.
<p>CRM - система iTexno предназначена для использования ООО ТПК
     "Техносервис", она позволяет понять как идут дела у данного бизнеса</p>
<div class="system_requirements">
    <h3 class="center-align">Системные требования</h3>
    <strong>Минимальные требования к составу и параметрам технических средств: для стабильности работы информационной системы:</strong>
    <ul>
        <li>&mdash; объем оперативной памяти должен быть не менее 4 Гб;</li>
        <li>&mdash; процессор с тактовой частотой 2,2 ГГц или большей;</li>
        <li>&mdash; видеоадаптер, соответствующий стандарту DirectX 9 и поддерживающий минимальное разрешение экрана 926 x 572, и обладающий объёмом памяти не менее 512 мегабайт;</li>
        <li>&mdash; версия операционной системы не ниже 7 Windows</li>
    </ul>

    <strong>Рекоминдуемые требования к составу и параметрам технических средств: для стабильности работы информационной системы:</strong>
    <ul>
        <li>&mdash; объем оперативной памяти должен быть не менее 6 Гб;</li>
        <li>&mdash; процессор AMD A10-4600M 2300МГц</li>
        <li>&mdash; видеоадаптер AMD Radeon HD 7670M</li>
        <li>&mdash; монитор с разрешением 1366 x 768</li>
        <li>&mdash; версия операционной системы не ниже 7 Windows</li>
    </ul>
</div>
<div class="system_user">
    <h3 class="center-align">Пользователи</h3>
    <strong>В данном приложение имеются две категории пользователей:</strong>
    <ul>
        <ol> <strong>Менеджер отдела продаж </strong> - являтся основным пользователем данной системы, имеет возможность 
            управлением ассортимента (создание,удаление,редактирование)
            а также оформаление нового заказа. Данный пользователь может просматривать только свою историю заказов а также свою аналитику.
        </ol>
        <ol> <strong> Аналитик </strong>- являтся дополнительным пользователем который не может управлять ассортиментом и
             заказами но в свою очередь может просматривать аналитику и историю всех пользователей. В системе может быть только
             один аналитик, редактирование Email аналитика невозможна, пароль предоставлятся вместе с приложением.
        </ol>
    </ul>
</div>
<div class="system-form">
    <h3 class="center-align">Формы приложения</h3>
    <p>
        На основной форме расположена боковая навигация, информация о пользователе, кнопка для редактирования профиля пользователя а также кнопка для вывода курса валют на экран.
        </p>
       <p> В основной форме для менеджера имеются следующие кнопки:</p>
       <ul>
       <ol><strong>Аналитика </strong>– открывает форму, в которой выводится графики по выручки и заказам;</ol>
       <ol><strong>Обзор</strong> – открывает форму которая показывает динамику продаж за предыдущий день;</ol>
       <ol><strong>История </strong>– открывает форму с историей заказов;</ol>
       <ol><strong>Добавить заказ</strong>– открывает форму для добавления заказа;</ol>
       <ol><strong>Ассортименты</strong> – открывает форму для добавления категорий и позиций;</ol>
       <ol><strong>Документация</strong> – открывает форму с руководством по программе;</ol>
     </ul>
<p>  На форме <strong>«Аналитика»</strong> расположены два графика по выручки и по заказам. 
Период аналитики можно регулировать кнопками которые расположены наверху. </p>
<p>На форме <strong>«Обзор»</strong> расположены два блока которые показывают динамику продаж за предыдущий день. </p>
<p>На форме <strong>«История»</strong> выводится сведения о оформленных заказах, к
     которым можно применить фильтр.При нажатие на кнопку просмотра определенного заказа 
     выводится окно с содержимым заказа</p>
<p>На форме <strong>«Добавить заказ»</strong> выводится категории товаров при нажатие на которых можно
     добавить определенные позиции к заказу.После добавления нужных позиций необходимо вызвать окно подтверждения заказа
      нажатием на кнопку «ЗАВЕРШИТЬ» </p>
 <p>На форме <strong>«Ассортименты»</strong> выводится категории товаров находящиеся в системе, добавить
      категорию можно нажав на кнопку «Добавить категорию», при нажатие на категорию открывается 
      окно редактирования где можно редактировать, 
     удалить категорию или добавить определенные позиции к категории</p>
</div>
<div class="developer">
    <h3 class="center-align">Разработчик</h3>
  <span>ФИО:</span><strong>Кабиров Дамир Ильшатович</strong><br>
  <span>Email:</span><strong>rus.vorobev.2015@mail.ru</strong> <br>
  <span>Тел:</span><strong>+79174975674</strong>
</div>